<%= simple_form_for(list) do |f| %>
  <div class='m-5'>
    <div class="my-3">
      <%= f.input :name, class: "form-control" %>
    </div>
    <div class="my-3">
      <%= f.input :photo, as: :file, class: 'form-control-file', id: 'image' %>
    </div>
    <%= f.button :submit, class: 'btn btn-primary btn-lg btn-block', value: 'Add' %>
  </div>
<% end %>
